<div class='text-center mt-5 mb-5'>
  <div class="form-wrapper mb-5">
    <h2 class="form-title mb-5">新規投稿登録</h2>
     <div class="row form-group justify-content-center">
       <div class="form-width col-10 col-md-8 col-xl-6">
       <%= render 'form', post: @post %>
       </div>
     </div>
   </div>
</div>